.bike-pic {
	float: left;
	margin-right: 10px;
}
.short_description {
	color: #707070;
	font-size: 14px;
	font-style: italic;
	line-height: 16px;
}
.short_description ul {
	list-style-type: none;
	padding: 0;
}

.button-buy {
	display: inline-block;
	line-height: 40px;
	width: 100px;
	border: 1px solid gray;
	border-radius: 10px;
	background-color: lightgrey;
	color: black;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
}
.button-buy:hover {
	background-color: lightyellow;
}
.button-buy:active {
	color: brown;
}
.split {
	clear: both;
}

h3 {
	color: #000;
	font-size: 18px;
	font-weight: 400.;
	background-color: #eaeaea;
}
.full_description {
	color: #484343;
	font-size: 16px;
	font-weight: 400.;
	line-height: 24px;
	text-align: left;
}
.full_description:first-letter {
	color: #390F0F;
	font-size: 24px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.characteristics_list li {
	list-style-type: none;
/*	list-style-image: url(../img/wheel_icon.png);*/
	background-image: url(../img/wheel_icon.png);
	background-repeat: no-repeat;
	background-size: 16px;
	color: #161b52;
	font-size: 14px;
	font-weight: 400.;
	line-height: 16px;
	text-align: left;
	padding-left: 22px;
}
.item_pic {
	width: 400px;
	outline: 2px solid #5f3f3f;
}
.item_pic:hover {
	outline: none;
}
table {
	border-collapse: collapse;
}
th, td {
	font-size: 12px;
	vertical-align: middle;
	padding: 0 5px;
	text-align: center;
	border: 1px solid #e9e9e9;
}
